.section{
    width: 100%;
    box-sizing: border-box;
    margin-top: 70px;
    .container{
        padding: 20px;
        border-radius: 15px;
        background-color: #FFFFFF;
        max-width: 1150px;
        margin: auto;
        .wrapper{
             overflow: hidden;
           
          
        }

        .bottom{
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            overflow: hidden;
            gap: 14px;
        }
        
    }

}

@media(max-width: 1289px){
    .section{
        .container{
            .wrapper{
                .bottom{
                    grid-template-columns: repeat(3, minmax(0, 1fr));
                }
            }
        }
    }
}

@media(max-width: 1023px){
    .section{
        .container{
            max-width: 689px;
            .wrapper{
                .bottom{
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }
    }
}

@media(max-width: 767px){
    .section{
        margin: 20px 0;
        .container{
            max-width: 100%;
            .wrapper{
                max-width: 510px;
                margin: auto;

                .bottom{
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }
    }
}

@media(max-width: 639px){
    .section{
      margin-top: 36px;
        .container{
            max-width: 100%;
            padding :0 24px;
            .wrapper{
                max-width: 100%;
                margin: auto;

                .bottom{
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                }
            }
        }
    }
}

